.dropdown-wrapper-month {
    position: relative;
}

.dropdown-wrapper-month .trigger {
    cursor: pointer;
    margin: 0;
    padding: 4px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.dropdown-wrapper-month .trigger:hover {
    background-color: rgba(0, 0, 0, 0.05); 
}

.dropdown-menu-month {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: 100; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    
    max-height: 300px; 
    width: 300px;
    
    display: none;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
}

.menu-item {
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
}

.dropdown-menu-month .menu-item:hover {
    background-color: var(--theme-col);
}


.dropdown-menu-month.show {
    display: grid;
}






.dropdown-wrapper-year {
    position: relative;
}

.dropdown-wrapper-year .trigger {
    cursor: pointer;
    margin: 0;
    padding: 4px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.dropdown-wrapper-year .trigger:hover {
    background-color: rgba(0, 0, 0, 0.05); 
}

.dropdown-menu-year {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-67%);
    
    z-index: 100; 
    background: rgba(255, 255, 255, 0.4); /* Translucent white */
    backdrop-filter: blur(15px);         /* The frosted glass effect */
    -webkit-backdrop-filter: blur(12px);
    
    border: 1px solid rgba(255, 255, 255, 0.3); /* Thin light border */
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15); /* Soft, deep shadow */

    overflow: hidden;
    
    max-height: 400px;
    overflow-y: auto;
    width: 340px;
    
    display: none;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    scroll-behavior: smooth;

}
.menu-year {
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
    transition: background-color 0.2s ease;
}

.menu-year:hover {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

.dropdown-menu-year.show {
    display: grid;
}

.dropdown-menu-year::-webkit-scrollbar {
    width: 12px;
}

.dropdown-menu-year::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.active-year {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
