body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    background: linear-gradient(to bottom, #B9D8E1, #9BCBE5 ,#5BA3C6, #629BB5);
    display: flex;
    min-height: 100vh;
    user-select: none;
}